body{
    background-color: #3a4764;
    display: flex;
    justify-content: center;
}

.container-box{
    width: 550px;
    display: block;
    justify-self: center;
    align-items: center;
}

.tittle-cal{
    width: 520px;
    height: 50px;
}

.calculator{
    background-color: #232c43;
    width: 500px;
    height: 435px;
    font-size: 35px;
}

.screen{
    width: 500px;
    height: 70px;
    background-color: #182034;
}

.boton{
    width: 95px;
    height: 62px;
    color: #444b5a;
    background-color:#eae3dc ;
}.boton:hover{
    cursor: pointer;
    background-color: #a1adc9;
}

#showScreen{
    color: white;
    font-size: 30px;
    padding-right: 20px;
}

.boton-es{
    width: 95px;
    height: 62px;
    color: white;
    background-color: #637097;
}.boton-es:hover{
    cursor: pointer;
    background-color: #a1adc9;
}

.reset{
    width: 212px;
    height: 62px;
    color: white;
    background-color: #637097;
}.reset:hover{
    cursor: pointer;
    background-color: #a1adc9;
}

.equal{
    width: 212px;
    height: 62px;
    color: white;
    background-color: #d03f2f;
}.equal:hover{
    cursor: pointer;
    background-color: #de796e;
}
